<!DOCTYPE html>
    {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for msg in meassages %}
    {{msg}}
    {% endfor %}
<div>
    <table>
        <tr>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>{{data.Name}} <br><br>
                {{data.Age}} <br><br>
            </td>
            <td>
            <img src="{{data.Photo.url}}" alt="" height="200px" width="250px">
        </td>
        </tr>
    </table>
        <a href="{% url 'app1:update' data.id %}">Update</a>&nbsp;&nbsp;<a href="{% url 'app1:changepassword' data.id %}">Change Password</a>
        <br>
        <a href="{% url 'app1:logouts' %}">Logout</a>
</div>
</body>
</html>